
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');


body {
    background-color: thistle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Send Flowers', cursive;
    font-size: 2rem;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.menu-img {
    border-radius: 50%;
    width: 30vw;
    height:auto;
}

.restaurant-img {
    width: 40vw;
    height: auto;
}

a {
    text-decoration: none;
    font-size: .8rem;
}